extends layout

block content
  h3 Welcome to roots!
<<<<<<< HEAD
  p this is a paragraph 1
  :marked
=======
  :markdown
>>>>>>> 4929abeef2933ab3497c4cc82cf448cb5694d099
    Find tutorials and documentation at http://roots.cx : )
